<div>
  <label for="password">Password:</label>
  <input type="password" id="password" [(ngModel)]="password" (input)="checkPasswordStrength()" />

  <div class="strength-section" [ngClass]="{ 'gray': passwordStrength === 'gray' }"></div>
  <div class="strength-section" [ngClass]="{ 'red': passwordStrength === 'red' && password.length >= 8, 'yellow': passwordStrength === 'yellow' && password.length >= 8, 'green': passwordStrength === 'green' && password.length >= 8 }"></div>
  <div class="strength-section" [ngClass]="{ 'red': passwordStrength === 'red' && password.length >= 8, 'yellow': passwordStrength === 'yellow' && password.length >= 8, 'green': passwordStrength === 'green' && password.length >= 8 }"></div>
</div>

<div *ngIf="password !== ''">
  <p>
    Password complexity:
    <span [ngClass]="{ 'red-text': passwordStrength === 'red' && password.length >= 8, 'yellow-text': passwordStrength === 'yellow' && password.length >= 8, 'green-text': passwordStrength === 'green' && password.length >= 8 }">{{ passwordStrength }}</span>
  </p>
</div>
